@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(26, 25, 25);
    text-align: center;
}
header{
    color: blue;
    font-size: 2rem;
    padding-top: 2vh;
    font-family: 'Kanit', sans-serif;
    text-shadow: 0 0 2vw #0000ff;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1.5rem rgba(5, 5, 237, 0.516);
    font-size: 8vmin;
    font-weight: 600;
    background-color: white;
    color: black;
}
#reset{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    box-shadow: 0 0 1.5rem rgba(5, 5, 237, 0.516);
    border: none;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
#msg{
    color: #0000ff;
    font-size: 2rem;
    font-weight: 600;
}
#newbtn{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    box-shadow: 0 0 1.5rem rgba(5, 5, 237, 0.516);
    border: none;
}
.hide{
    display: none;
}